{% extends "base.html" %}
{% block content %}


<main>
    <div class="container">
        <h1>About Us</h1><br>

        <section class="text-center mb-2">
            <div class="row wow fadeIn">
                <div class="col-lg-12 col-md-12 mb-12">
                    
                    <img style="" width="100%" src="../media/items_images/company_profile.jpg"/ >
                    <br><br>
<p> Lucky Cement is one of the largest producers and leading exporters of quality cement in Pakistan and is listed on the Pakistan Stock Exchange (PSX). The company has also issued Global Depository Receipts (GDRs), listed and traded on the Professional Securities Market of the London Stock Exchange.
    Over the years, the Company has grown substantially and is expanding its business operations with production facilities at strategic locations in Karachi to cater to the Southern regions and Pezu, Khyber Pakhtunkhwa to furnish the Northern areas of the country. Lucky Cement is Pakistan’s first company to export sizeable quantities of loose cement being the only cement manufacturer to have its own loading and storage terminal at Karachi Port.
    Lucky Cement strives to remain an efficient and low cost producer and is one of the pioneers to introduce and install Waste Heat Recovery and Refuse Derived Fuel (RDF) and Tyre Derived Fuel (TDF) Plants in Pakistan. It also has self-sufficient Captive power generation facility of 180 MW and supplies additionally generated electricity to support the National grid. Lucky Cement owns a fleet of Bulkers & Trailers, which gives added advantage in terms of logistics and efficient deliveries to all types of customers spread across the length and breadth of the country.</p>

                    <div class="card">
                        <div class="view overlay">
                            <img style="" width="100%" src="../media/items_images/career_people.jpg"/ >
                            alt="">
                      
                        </div>
                        <div class="card-body text-center">
                         
                            <div class="kl-iconbox eluid5e9d6bf1 how_to_apply  kl-iconbox--type-icon  kl-iconbox--fleft kl-iconbox--align-left text-left kl-iconbox--theme-light element-scheme--light" data-anim-delay="700ms" id="eluid5e9d6bf1">
                          
                            </div>
                        </div>
          
                      </div>
</div>
                    </div>
</section>
</div>
</main>
{% endblock %}